/* *{
    margin: 0;
    padding: 0;
} */

body{
    font:15px 1.5em Arial, helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;


}
 /* global */
.container{
    width:80%;
    margin: auto;
    overflow:hidden;

}

button{
    height: 40px;
    background: #e8491d;
    border: 0;
    padding-left: 20px;
    padding-right: 30px;
    color: #fff;
    margin-top: 10px;
}
.dark{
   padding: 15px;
   background: #35424a;
   color: #fff;
   margin-top: 10px;
   margin-bottom: 10px;

}

/* header */
header{
    background: #35424a;
    color:#fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

header a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}


 header li{
    float:left;
    display: inline;
    padding: 0 20px 0 20px;
    box-sizing: border-box;
    
 }

 header #branding{
    float: left;
 }

 header #branding h1{
    margin:0;
 }
 
 header nav{
    float: right;
    margin-bottom: 10px;
    box-sizing: border-box;
    
 }


.highlight, header .current a{
    font-weight: bold;
    color: #e8491d;

 }
 header a:hover{
    color:#ccc;
    font-weight: bold;
 }

 #showcase{
    min-height: 400px;
    background: url('../images/607224.jpg') no-repeat 0 -400px;
    
    text-align: center;

 }

 #showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;

 }
 #showcase p{
    font-size: 20px;
 }

 #newsletter{
    background: #35424a;
    color: #fff;
    padding: 15px;

 }


 #newsletter h1{
    float:left;
 }

 #newsletter form{
    float: right;
    margin-top: 15px;
 }

form input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 240px;
 }
 nav ul{
    float: right;
    
 }
 /* boxes */

 #boxes {
    margin-top: 20px;
 }
.box{
    float: left;
    text-align: center;
    width: 33.3%;
    padding: 10px;
    box-sizing: border-box;
 }

.box img{
    width: 100px;


 }



 aside.sidebar{
   float:right;
   width: 30%;
   margin-top:10px;

 }

 article#main-col{
   float: left;
   width: 65%;

 }

 /* services */

 footer{
    padding: 20px;
    margin-top: 20px;
    color:#fff;
    background-color: #e8491d;
    text-align: center;

 }

 #sevices li{
   background: #000;
 }

 ul#service li{
   background:#e6e6e6;
   list-style: none;
   padding: 20px;
   border: #ccc solid 1px;
   margin-bottom: 5px;

 }


 .sidebar input, .sidebar input[type="emai"]{
   width:90%
 }

 @media(max-width:768px){
   header #branding,header nav,header nav li{
      float: none;
      text-align: center;
      width: 100%;
   }
 }

